<div class="load"></div>
<form class="login" id="loginForm">
    <fieldset>
        <legend class="legend">Login</legend>
        <div class="input">
            <input type="text" placeholder="Login" name="login" required/>
            <span><i class="fa fa-user"></i></span>
        </div>
        <div class="input">
            <input type="password" placeholder="Password" name="password" required/>
            <span><i class="fa fa-lock"></i></span>
        </div>
        <button type="submit" class="submit"><i class="fa fa-sign-in"></i></button>
    </fieldset>
    <div class="feedback">
    </div>
</form>